{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<!-- Banner -->
<section id="banner">
    <div class="content">
        <p>Language detector is a simple project for identifying the origin language for a text input
            along with a probability score. Try it out!:</p>
        <ul class="actions">
            <li><a href="{{ url_for('generator.create') }}" class="button big">Detect</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="{{ url_for('static', filename='world.jpg') }}" alt="" />
    </span>
</section>

<!-- Search Bar -->
{% if entries %}
<h1>Results</h1>
<div class="search-box">
    <form method="post" action="/search" name="search_tag_block">
        <input type="text" name="search_url" placeholder="Search previous results ">
        <!-- <button type="submit" class="button primary icon solid fa-search" value="Search">Search</button> -->
    </form>
</div>

{% endif %}

{% for entry in entries %}
<article class="text">
    <header>
        <h3>{{ entry['text']|truncate(10, end='...') }}</h3>
    </header>
    <table>
        <tr>
            <td>Text</td>
            <td>Predicted Language</td>
            <td>Confidence Score</td>
        <tr>
            <td>{{ entry['text'] }}</td>
            <td>{{ entry['language'] }}</td>
            <td>{{ '%0.2f' % (entry['certainty'] * 100) | float }}%</td>
        </tr>
    </table>
    <div class="about">Searched on {{ entry['created'].strftime('%Y-%m-%d') }}</div>
    {% if g.user['id'] == entry['author_id'] %}
    <a class="action" href="{{ url_for('generator.update', id=entry['id']) }}">Edit</a>
    {% endif %}
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}