{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<!-- Banner -->
<section id="banner">
    <div class="content">
        <p>Language detector is a simple project for identifying the origin language for a text input
            along with a probability score. Try it out!</p>
        <ul class="actions">
            <li><a href="{{ url_for('generator.create') }}" class="button primary icon solid fa-search">Detect Language</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="{{ url_for('static', filename='world.jpg') }}" alt="" />
    </span>
</section>

<!-- Search Bar -->
{% if entries and  g.user %}
<h2>Previous Results</h2>
<div class="row">
    <div class="col-10 col-12-small">
        <form method="post" action="/search" name="search_tag_block">
            <input type="text" name="search_url" placeholder="Search previous results ">
        </form>
    </div>
    <div class="col-2 col-12-small">
        <a href="{{ url_for('generator.create') }}" class="button fit">New Entry</a>
    </div>
</div>

{% for entry in entries %}
<div class="box">
<article class="text">
    <header>
        <h3>{{ entry['text']|truncate(10, end='...') }}</h3>
    </header>
    <table>
        <tr>
            <td>Text</td>
            <td>Predicted Language</td>
            <td>Confidence Score</td>
        <tr>
            <td>{{ entry['text'] }}</td>
            <td>{{ entry['language'] }}</td>
            <td>{{ '%0.2f' % (entry['certainty'] * 100) | float }}%</td>
        </tr>
    </table>
    <div class="about">Searched on {{ entry['created'].strftime('%Y-%m-%d') }}
    {% if g.user['id'] == entry['author_id'] %}
    <a class="action edit" href="{{ url_for('generator.update', id=entry['id']) }}">Edit</a>
    {% endif %}
    </div>
</article>
</div>
{% if not loop.last %}
{% endif %}
{% endfor %}
{% if max_page > 1 %}
<ul class="pagination">
    <li><a href="{{ url_for('generator.index', page=active_page - 1) }}" class="button {{'disabled' if active_page == 1 else ''}}">Prev</a></li>
    {% for page in range(1, max_page + 1) %}
    <li><a href="{{ url_for('generator.index', page=page) }}" class="page {{'active' if active_page == page else ''}}">{{page}}</a></li>
     <!-- TODO: handle large number of rows -->
    <!-- <li><span>&hellip;</span></li> -->
    {% endfor %}
    <li><a href="{{ url_for('generator.index', page=active_page + 1) }}" class="button {{'disabled' if active_page == max_page else ''}}"">Next</a></li>
</ul>
{% endif %}
{% endif %}
{% endblock %}