{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block header %}
<h1>Search</h1>
{% endblock %}

{% block content %}
<div class=" container search_header">
    <h4>Search Results for : <b> {{ search_tag }} <b></h4>

    <div style="overflow-x:auto;">
        <div class="table_list u-full-width">
            <table>
                <thead>
                    <tr>
                        <th>Text</th>
                        <th>Language</th>
                        <th>Certainty</th>
                        <th>Searched</th>
                    </tr>
                </thead>

                <tbody>
                    {% for entry in entries %}
                    <tr>
                        <td>{{entry["text"]}}</td>
                        <td>{{entry["language"]}}</td>
                        <td>{{ '%0.2f' % (entry['certainty'] * 100) | float }}%</td>
                        <td>{{entry['created'].strftime('%Y-%m-%d')}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<a class="button" href="{{ url_for('generator.index') }}">Back</a>

{% endblock %}