{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block header %}
<h2>Search</h2>
{% endblock %}

{% block content %}
<div>
    <h4>Search Results for : <b> {{ search_tag }} </b></h4>

    <div>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Text</th>
                        <th>Language</th>
                        <th>Certainty</th>
                        <th>Searched</th>
                    </tr>
                </thead>

                <tbody>
                    {% for entry in entries %}
                    <tr>
                        <td>{{entry["text"]}}</td>
                        <td>{{entry["language"]}}</td>
                        <td>{{ '%0.2f' % (entry['certainty'] * 100) | float }}%</td>
                        <td>{{entry['created'].strftime('%b %d %Y, %I:%M%p')}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<a class="button" href="{{ url_for('generator.index') }}">Back</a>

{% endblock %}