{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit "{{ entry['text'] | truncate(10, end='...' )}}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="title">Text</label>
    <input name="text" id="text" value="{{ request.form['text'] or entry['text'] }}" required>
    <input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('generator.delete', id=entry['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}