{% extends 'base.html' %}

{% block title %}Update{% endblock %}

{% block header %}
<h2>Edit "{{ entry['text'] | truncate(10, end='...' )}}"</h2>
{% endblock %}

{% block content %}
<div class="col-12">
    <form method="post">
        <textarea name="text" id="input" rows="3">{{ request.form['text'] or entry['text'] }}
        </textarea>
        <input class="button" type="submit" value="Save">
        <input class="button primary" type="submit" value="Delete Entry" onclick="return confirm('Are you sure?');">
    </form>
</div>
{% endblock %}