<!doctype html>

<html lang="en">

<head>
    <!-- Title -->
    <title>{% block title %}{% endblock %} - Language Detector</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <a href="index" class="logo"><strong>Language Detector</strong> a simple language
                        identifier</a>

                    <!-- Login -->
                    <ul class="icons">
                        {% if g.user %}
                        <li><span>{{ g.user['username'] }}</span>
                        <li><a href=" {{ url_for('auth.logout') }}">Log Out</a>
                            {% else %}
                        <li><a href="{{ url_for('auth.register') }}">Register</a>
                        <li><a href="{{ url_for('auth.login') }}">Log In</a>
                            {% endif %}
                    </ul>
                </header>

                <!-- Content -->
                <section class="content">
                    <header>
                        {% block header %}{% endblock %}
                    </header>

                    <!-- Flashed messages -->
                    {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                    {% endfor %}

                    <!-- Content -->
                    {% block content %}{% endblock %}
                </section>
            </div>
        </div>
    </div>
</body>

</html>